/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:wght@200;600&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    color: #2c2c54;
    line-height: 1.7;
    font-family: 'Hurricane', cursive;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: auto;
    padding: 0 20px;
    margin: 30px 80px;
    display: flex;
}

/*button*/

.btn {
    display: inline-flex;
    justify-content: center;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    transition: all 1s;
}

.btn:hover {
    background-position: 0 100%;
    color:white;
}
    

.btn-one {
    border-color: #fed136;
    color: #fed136;
    background-image: linear-gradient(90deg, #fed136 50%, transparent 50%);
}

/*navigation*/

.golden {
    flex:2;
    font-family: 'Hurricane', cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.golden a {
    text-decoration: none;
    color: #ffffff;
}
.golden a:hover {
    color:#fed136;
}
.navigation {
    background: url('Background\ Image.png');
    padding: 12px 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin-bottom: 100px;
}

.nav-list {
    flex:10;
    font-family: 'Montserrat', sans-serif;
}

.nav-list ul {
    list-style-type: none;
    display: flex;
    padding: 20px;
    margin: 0;
    justify-content:flex-end;
    width:auto;
}

.nav-list a {
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
}

.nav-list a:hover {
    text-decoration: none;
    color: #fed136;
}
/*splash*/

.splash {
    color: white;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

.page-title {
    margin: auto;
    font-size: 50px;
    word-spacing: 10px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 6px;
    font-family: 'Inconsolata',monospace;
    text-align: center;
    font-family: 'Hurricane', cursive;
    
}

.page-subtitle {
    margin: auto;
    font-weight: 600;
    font-size: 60px;
    font-family: 'Inconsolata',monospace;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 10px;
}

.button {
    text-align: center;
}

*services*/

.services {
    width: auto;
    padding: 0 20px;
    margin: 30px 80px;
}
.services-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-subtitle {
    font-family: 'Hurricane', cursive;
    font-size: 30px;
    margin-top:10px;

}

.wraper {
    display: flex;
    justify-content:space-around;
    padding: 10px;

}
.container-header {
    text-align:center;
}

.wraper-box {
    text-align: justify;
    word-spacing: 3px;
    padding:10px;
}

.wraper-box p {
    font-size: 12px;
    margin-right:12px;
}

.wraper-box h3 {
    text-align:center;
    margin: 0 auto;
}

.wraper-box a {
    text-align: center;
}

.wraper-icon {
    text-align: center;
}
.wraper-box i {
    font-size: 30px;
    background: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fed136;
    border-radius: 50%; 
    margin: 10px;
    text-align: center;
    border: solid #fed136;
}

.services two {
    background-color: red;
}
@media (max-width: 767px) {
 
    .navigation {
        flex-direction: column;
    }

    .container {
        font-size: 10px;
        padding: 5px;
        margin:30px 30px;
    }

    .nav-list a {
        padding: 5px;
    }
    
    /*splash*/
    .splash {
        margin-top: 20px;
    }

    .page-title {
        font-size: 50px;
    }

    .page-subtitle {
        font-size: 20px;
    }

    .services {
        flex-direction: column;
        margin:30px 40px;
    }

    .wraper {
        flex-direction: column;

    }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */