/*Global*/
@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:wght@200;600&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: #2c2c54;
  line-height: 1.7;
  font-family: 'Hurricane', cursive;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: auto;
  padding: 0 20px;
  margin: 30px 80px;
  display: flex;
}

/*button*/
.btn {
  display: inline-flex;
  justify-content: center;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-color: inherit;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn:hover {
  background-position: 0 100%;
  color: white;
}

.btn-one {
  border-color: #fed136;
  color: #fed136;
  background-image: linear-gradient(90deg, #fed136 50%, transparent 50%);
}

/*navigation*/
.golden {
  flex: 2;
  font-family: 'Hurricane', cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.golden a {
  text-decoration: none;
  color: #ffffff;
}

.golden a:hover {
  color: #fed136;
}

.navigation {
  background: url("/images/BackgroundImage.png");
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin-bottom: 100px;
}

.nav-list {
  flex: 10;
  font-family: 'Montserrat', sans-serif;
}

.nav-list ul {
  list-style-type: none;
  display: flex;
  padding: 20px;
  margin: 0;
  justify-content: flex-end;
  width: auto;
}

.nav-list a {
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
}

.nav-list a:hover {
  text-decoration: none;
  color: #fed136;
}

/*splash*/
.splash {
  color: white;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: auto;
  font-size: 50px;
  word-spacing: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 6px;
  font-family: 'Inconsolata',monospace;
  text-align: center;
  font-family: 'Hurricane', cursive;
}

.page-subtitle {
  margin: auto;
  font-weight: 600;
  font-size: 60px;
  font-family: 'Inconsolata',monospace;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 10px;
}

.button {
  text-align: center;
}

/*services*/
.services {
  width: auto;
  padding: 0 20px;
  margin: 30px 80px;
}

.services-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service-subtitle {
  font-family: 'Hurricane', cursive;
  font-size: 30px;
  margin-top: 10px;
}

.wraper {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.container-header {
  text-align: center;
}

.wraper-box {
  text-align: justify;
  word-spacing: 3px;
  padding: 10px;
  min-width: 300px;
}

.wraper-box p {
  font-size: 12px;
  margin-right: 12px;
}

.wraper-box h3 {
  text-align: center;
  margin: 0 auto;
}

.wraper-box a {
  text-align: center;
}

.wraper-icon {
  text-align: center;
}

.wraper-box i {
  font-size: 30px;
  background: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fed136;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  border: solid #fed136;
}

/*portfolio*/
.wraper-image-first {
  background: url("/images/Image.png");
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 300px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.wraper-image-second {
  background: url("/images/Image_2.png");
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 300px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.wraper-image-third {
  background: url("/images/Image_5.png");
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 300px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.wraper-image-fourth {
  background: url("/images/Image6.png");
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 300px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.wraper-image-fifth {
  background: url("/images/Image_4.png");
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 300px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.wraper-image-six {
  background: url("/images/pexels-kaboompics-com-6444.jpg");
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 300px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.wraper-image-box {
  background: white;
  flex: 6;
  text-align: center;
}

.image-subtitle {
  font-family: 'Hurricane', cursive;
}

.image-title {
  margin-bottom: 0;
}

.portfolio {
  background: #F7F7F7;
  margin: 0;
  padding: 50px 0;
}

/*footer*/
.footer-container {
  width: auto;
  padding: 0 20px;
  margin: 30px 80px;
  display: flex;
}

.footer-text {
  font-family: 'Hurricane', cursive;
  font-size: 20px;
  display: flex;
  color: black;
  padding: 20px;
  flex: 4;
}

.social-media {
  flex: 8;
}

.social-media ul {
  list-style-type: none;
  display: flex;
  padding: 20px;
  margin: 0;
  justify-content: flex-start;
  width: auto;
  color: black;
  text-align: center;
  margin-left: 40px;
}

.social-media i {
  font-size: 30px;
  background: black;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  border-radius: 50%;
  margin: 10px;
}

@media (max-width: 767px) {
  .navigation {
    flex-direction: column;
  }
  .container {
    font-size: 10px;
    padding: 5px;
    margin: 30px 30px;
    flex-direction: column;
  }
  .nav-list a {
    padding: 5px;
  }
  /*splash*/
  .splash {
    margin-top: 20px;
  }
  .page-title {
    font-size: 50px;
  }
  .page-subtitle {
    font-size: 20px;
  }
  .services {
    flex-direction: column;
    margin: 30px 40px;
  }
  .wraper {
    flex-direction: column;
  }
  /*footer*/
  .footer-container {
    flex-direction: column-reverse;
  }
  .footer-page {
    flex-direction: column;
  }
  .nav-list ul {
    justify-content: center;
  }
  .splash {
    min-height: 400px;
  }
  .social-media ul {
    justify-content: center;
    margin-left: 0px;
  }
  .footer-text {
    justify-content: center;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQSxTQUFBO0FBRUEsNkdBQVk7QUFDWjtFQUNFLHNCQUFzQjtBQ0R4Qjs7QURJQTtFQUNFLFNBQVM7RUFDVCxlQUFlO0VBQ2YsY0FBYztFQUNkLGdCQUFnQjtFQUNoQixpQ0FBaUM7RUFDakMscUNBQXFDO0FDRHZDOztBRElBO0VBQ0UsV0FBVztFQUNYLGVBQWU7RUFDZixpQkFBaUI7RUFDakIsYUFBYTtBQ0RmOztBRElBLFNBQUE7QUFFQTtFQUNFLG9CQUFvQjtFQUNwQix1QkFBdUI7RUFDdkIsZ0JBQWdCO0VBQ2hCLHdCQUF3QjtFQUN4QixhQUFhO0VBQ2Isa0JBQWtCO0VBQ2xCLHFDQUFxQztFQUNyQyxlQUFlO0VBQ2Ysa0JBQWtCO0VBQ2xCLHFCQUFxQjtFQUNyQixlQUFlO0VBQ2YsaUJBQWlCO0VBQ2pCLG1CQUFtQjtFQUNuQix5QkFBeUI7RUFDekIsMkJBQTJCO0VBQzNCLHFCQUFxQjtFQUNyQixrQkFBa0I7QUNGcEI7O0FES0E7RUFDRSwyQkFBMkI7RUFDM0IsWUFBWTtBQ0ZkOztBREtBO0VBQ0UscUJBQXFCO0VBQ3JCLGNBQWM7RUFDZCxzRUFBc0U7QUNGeEU7O0FES0EsYUFBQTtBQUVBO0VBQ0UsT0FBTztFQUNQLGlDQUFpQztFQUNqQyxlQUFlO0VBQ2YsYUFBYTtFQUNiLHVCQUF1QjtFQUN2QixtQkFBbUI7QUNIckI7O0FETUE7RUFDRSxxQkFBcUI7RUFDckIsY0FBYztBQ0hoQjs7QURNQTtFQUNFLGNBQWM7QUNIaEI7O0FETUE7RUFDRSw4Q0FBOEM7RUFDOUMsZUFBZTtFQUNmLG9DQUFvQztFQUNwQyw0QkFBNEI7RUFDNUIsMkJBQTJCO0VBQzNCLHNCQUFzQjtFQUN0Qiw0QkFBNEI7RUFDNUIsYUFBYTtFQUNiLG9CQUFvQjtBQ0h0Qjs7QURNQTtFQUNFLFFBQVE7RUFDUixxQ0FBcUM7QUNIdkM7O0FETUE7RUFDRSxxQkFBcUI7RUFDckIsYUFBYTtFQUNiLGFBQWE7RUFDYixTQUFTO0VBQ1QseUJBQXlCO0VBQ3pCLFdBQVc7QUNIYjs7QURNQTtFQUNFLGFBQWE7RUFDYixxQkFBcUI7RUFDckIsY0FBYztBQ0hoQjs7QURNQTtFQUNFLHFCQUFxQjtFQUNyQixjQUFjO0FDSGhCOztBRE1BLFNBQUE7QUFFQTtFQUNFLFlBQVk7RUFDWixpQkFBaUI7RUFDakIsYUFBYTtFQUNiLHVCQUF1QjtFQUN2QixtQkFBbUI7RUFDbkIsaUJBQWlCO0FDSm5COztBRE9BO0VBQ0UsWUFBWTtFQUNaLGNBQWM7QUNKaEI7O0FET0E7RUFDRSxZQUFZO0VBQ1osZUFBZTtFQUNmLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLG1CQUFtQjtFQUNuQixvQ0FBb0M7RUFDcEMsa0JBQWtCO0VBQ2xCLGlDQUFpQztBQ0puQzs7QURPQTtFQUNFLFlBQVk7RUFDWixnQkFBZ0I7RUFDaEIsZUFBZTtFQUNmLG9DQUFvQztFQUNwQyxrQkFBa0I7RUFDbEIseUJBQXlCO0VBQ3pCLGtCQUFrQjtBQ0pwQjs7QURPQTtFQUNFLGtCQUFrQjtBQ0pwQjs7QURPQSxXQUFBO0FBRUE7RUFDRSxXQUFXO0VBQ1gsZUFBZTtFQUNmLGlCQUFpQjtBQ0xuQjs7QURRQTtFQUNFLHlCQUF5QjtFQUN6QixtQkFBbUI7QUNMckI7O0FEUUE7RUFDRSxpQ0FBaUM7RUFDakMsZUFBZTtFQUNmLGdCQUFnQjtBQ0xsQjs7QURRQTtFQUNFLGFBQWE7RUFDYiw2QkFBNkI7RUFDN0IsYUFBYTtBQ0xmOztBRFFBO0VBQ0Usa0JBQWtCO0FDTHBCOztBRFFBO0VBQ0UsbUJBQW1CO0VBQ25CLGlCQUFpQjtFQUNqQixhQUFhO0VBQ2IsZ0JBQWdCO0FDTGxCOztBRFFBO0VBQ0UsZUFBZTtFQUNmLGtCQUFrQjtBQ0xwQjs7QURRQTtFQUNFLGtCQUFrQjtFQUNsQixjQUFjO0FDTGhCOztBRFFBO0VBQ0Usa0JBQWtCO0FDTHBCOztBRFFBO0VBQ0Usa0JBQWtCO0FDTHBCOztBRFFBO0VBQ0UsZUFBZTtFQUNmLGlCQUFpQjtFQUNqQixXQUFXO0VBQ1gsWUFBWTtFQUNaLGlCQUFpQjtFQUNqQixjQUFjO0VBQ2Qsa0JBQWtCO0VBQ2xCLFlBQVk7RUFDWixrQkFBa0I7RUFDbEIscUJBQXFCO0FDTHZCOztBRFFBLFlBQUE7QUFFQTtFQUNFLG9DQUFvQztFQUNwQyxlQUFlO0VBQ2Ysb0NBQW9DO0VBQ3BDLDRCQUE0QjtFQUM1QiwyQkFBMkI7RUFDM0Isc0JBQXNCO0VBQ3RCLFdBQVU7RUFDVixhQUFZO0VBQ1osYUFBWTtFQUNaLHFCQUFxQjtFQUNyQixVQUFTO0FDTlg7O0FEU0E7RUFDRSxzQ0FBc0M7RUFDdEMsZUFBZTtFQUNmLG9DQUFvQztFQUNwQyw0QkFBNEI7RUFDNUIsMkJBQTJCO0VBQzNCLHNCQUFzQjtFQUN0QixXQUFVO0VBQ1YsYUFBWTtFQUNaLGFBQVk7RUFDWixxQkFBcUI7RUFDckIsVUFBUztBQ05YOztBRFNBO0VBQ0Usc0NBQXNDO0VBQ3RDLGVBQWU7RUFDZixvQ0FBb0M7RUFDcEMsNEJBQTRCO0VBQzVCLDJCQUEyQjtFQUMzQixzQkFBc0I7RUFDdEIsV0FBVTtFQUNWLGFBQVk7RUFDWixhQUFZO0VBQ1oscUJBQXFCO0VBQ3JCLFVBQVM7QUNOWDs7QURTQTtFQUNFLHFDQUFxQztFQUNyQyxlQUFlO0VBQ2Ysb0NBQW9DO0VBQ3BDLDRCQUE0QjtFQUM1QiwyQkFBMkI7RUFDM0Isc0JBQXNCO0VBQ3RCLFdBQVU7RUFDVixhQUFZO0VBQ1osYUFBWTtFQUNaLHFCQUFxQjtFQUNyQixVQUFTO0FDTlg7O0FEU0E7RUFDRSxzQ0FBc0M7RUFDdEMsZUFBZTtFQUNmLG9DQUFvQztFQUNwQyw0QkFBNEI7RUFDNUIsMkJBQTJCO0VBQzNCLHNCQUFzQjtFQUN0QixXQUFVO0VBQ1YsYUFBWTtFQUNaLGFBQVk7RUFDWixxQkFBcUI7RUFDckIsVUFBUztBQ05YOztBRFNBO0VBQ0UseURBQXlEO0VBQ3pELGVBQWU7RUFDZixvQ0FBb0M7RUFDcEMsNEJBQTRCO0VBQzVCLDJCQUEyQjtFQUMzQixzQkFBc0I7RUFDdEIsV0FBVTtFQUNWLGFBQVk7RUFDWixhQUFZO0VBQ1oscUJBQXFCO0VBQ3JCLFVBQVM7QUNOWDs7QURRQTtFQUNJLGlCQUFpQjtFQUNqQixPQUFNO0VBQ04sa0JBQWlCO0FDTHJCOztBRFFBO0VBQ0ksaUNBQWlDO0FDTHJDOztBRFFBO0VBQ0ksZ0JBQWdCO0FDTHBCOztBRFFBO0VBQ0ksbUJBQW1CO0VBQ25CLFNBQVE7RUFDUixlQUFlO0FDTG5COztBRFFBLFNBQUE7QUFFQTtFQUNFLFdBQVc7RUFDWCxlQUFlO0VBQ2YsaUJBQWlCO0VBQ2pCLGFBQWE7QUNOZjs7QURTQTtFQUNFLGlDQUFpQztFQUNqQyxlQUFlO0VBQ2YsYUFBYTtFQUNiLFlBQVc7RUFDWCxhQUFZO0VBQ1osT0FBTTtBQ05SOztBRFNBO0VBQ0ksT0FBTTtBQ05WOztBRFNBO0VBQ0UscUJBQXFCO0VBQ3JCLGFBQWE7RUFDYixhQUFhO0VBQ2IsU0FBUztFQUNULDJCQUEyQjtFQUMzQixXQUFXO0VBQ1gsWUFBVztFQUNYLGtCQUFpQjtFQUNqQixpQkFBaUI7QUNObkI7O0FEU0E7RUFDSSxlQUFlO0VBQ2YsaUJBQWlCO0VBQ2pCLFdBQVc7RUFDWCxZQUFZO0VBQ1osaUJBQWlCO0VBQ2pCLGNBQWM7RUFDZCxrQkFBa0I7RUFDbEIsWUFBWTtBQ05oQjs7QURTQTtFQUVFO0lBQ0Usc0JBQXNCO0VDUHhCO0VEU0E7SUFDRSxlQUFlO0lBQ2YsWUFBWTtJQUNaLGlCQUFpQjtJQUNqQixzQkFBc0I7RUNQeEI7RURTQTtJQUNFLFlBQVk7RUNQZDtFRFNBLFNBQUE7RUFFQTtJQUNFLGdCQUFnQjtFQ1JsQjtFRFdBO0lBQ0UsZUFBZTtFQ1RqQjtFRFlBO0lBQ0UsZUFBZTtFQ1ZqQjtFRGFBO0lBQ0Usc0JBQXNCO0lBQ3RCLGlCQUFpQjtFQ1huQjtFRGNBO0lBQ0Usc0JBQXNCO0VDWnhCO0VEZUEsU0FBQTtFQUVEO0lBQ0csOEJBQThCO0VDZGhDO0VEa0JEO0lBQ0ksc0JBQXNCO0VDaEJ6QjtFRG1CQTtJQUNFLHVCQUF1QjtFQ2pCekI7RURvQkE7SUFDSSxpQkFBaUI7RUNsQnJCO0VEcUJBO0lBQ0ksdUJBQXVCO0lBQ3ZCLGdCQUFnQjtFQ25CcEI7RURzQkE7SUFDSSx1QkFBdUI7RUNwQjNCO0FBQ0YiLCJmaWxlIjoic3R5bGUuY3NzIn0= */