/*Global*/
@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:wght@200;600&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: #2c2c54;
  line-height: 1.7;
  font-family: 'Hurricane', cursive;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: auto;
  padding: 0 20px;
  margin: 30px 80px;
  display: flex;
}

/*button*/
.btn {
  display: inline-flex;
  justify-content: center;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-color: inherit;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn:hover {
  background-position: 0 100%;
  color: white;
}

.btn-one {
  border-color: #fed136;
  color: #fed136;
  background-image: linear-gradient(90deg, #fed136 50%, transparent 50%);
}

/*navigation*/
.golden {
  flex: 2;
  font-family: 'Hurricane', cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.golden a {
  text-decoration: none;
  color: #ffffff;
}

.golden a:hover {
  color: #fed136;
}

.navigation {
  background: url("/Users/kacper/Desktop/git-project/images/Background Image.png");
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin-bottom: 100px;
}

.nav-list {
  flex: 10;
  font-family: 'Montserrat', sans-serif;
}

.nav-list ul {
  list-style-type: none;
  display: flex;
  padding: 20px;
  margin: 0;
  justify-content: flex-end;
  width: auto;
}

.nav-list a {
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
}

.nav-list a:hover {
  text-decoration: none;
  color: #fed136;
}

/*splash*/
.splash {
  color: white;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: auto;
  font-size: 50px;
  word-spacing: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 6px;
  font-family: 'Inconsolata',monospace;
  text-align: center;
  font-family: 'Hurricane', cursive;
}

.page-subtitle {
  margin: auto;
  font-weight: 600;
  font-size: 60px;
  font-family: 'Inconsolata',monospace;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 10px;
}

.button {
  text-align: center;
}

/*services*/
.services {
  width: auto;
  padding: 0 20px;
  margin: 30px 80px;
}

.services-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service-subtitle {
  font-family: 'Hurricane', cursive;
  font-size: 30px;
  margin-top: 10px;
}

.wraper {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.container-header {
  text-align: center;
}

.wraper-box {
  text-align: justify;
  word-spacing: 3px;
  padding: 10px;
}

.wraper-box p {
  font-size: 12px;
  margin-right: 12px;
}

.wraper-box h3 {
  text-align: center;
  margin: 0 auto;
}

.wraper-box a {
  text-align: center;
}

.wraper-icon {
  text-align: center;
}

.wraper-box i {
  font-size: 30px;
  background: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fed136;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  border: solid #fed136;
}

.services two {
  background-color: red;
}

@media (max-width: 767px) {
  .navigation {
    flex-direction: column;
  }
  .container {
    font-size: 10px;
    padding: 5px;
    margin: 30px 30px;
  }
  .nav-list a {
    padding: 5px;
  }
  /*splash*/
  .splash {
    margin-top: 20px;
  }
  .page-title {
    font-size: 50px;
  }
  .page-subtitle {
    font-size: 20px;
  }
  .services {
    flex-direction: column;
    margin: 30px 40px;
  }
  .wraper {
    flex-direction: column;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQSxTQUFBO0FBQ0EsNkdBQVk7QUFDWjtFQUNFLHNCQUFzQjtBQ0F4Qjs7QURHQTtFQUNFLFNBQVM7RUFDVCxlQUFlO0VBQ2YsY0FBYztFQUNkLGdCQUFnQjtFQUNoQixpQ0FBaUM7RUFDakMscUNBQXFDO0FDQXZDOztBREdBO0VBQ0UsV0FBVztFQUNYLGVBQWU7RUFDZixpQkFBaUI7RUFDakIsYUFBYTtBQ0FmOztBREdBLFNBQUE7QUFDQTtFQUNFLG9CQUFvQjtFQUNwQix1QkFBdUI7RUFDdkIsZ0JBQWdCO0VBQ2hCLHdCQUF3QjtFQUN4QixhQUFhO0VBQ2Isa0JBQWtCO0VBQ2xCLHFDQUFxQztFQUNyQyxlQUFlO0VBQ2Ysa0JBQWtCO0VBQ2xCLHFCQUFxQjtFQUNyQixlQUFlO0VBQ2YsaUJBQWlCO0VBQ2pCLG1CQUFtQjtFQUNuQix5QkFBeUI7RUFDekIsMkJBQTJCO0VBQzNCLHFCQUFxQjtFQUNyQixrQkFBa0I7QUNBcEI7O0FER0E7RUFDRSwyQkFBMkI7RUFDM0IsWUFBWTtBQ0FkOztBREdBO0VBQ0UscUJBQXFCO0VBQ3JCLGNBQWM7RUFDZCxzRUFBc0U7QUNBeEU7O0FER0EsYUFBQTtBQUNBO0VBQ0UsT0FBTztFQUNQLGlDQUFpQztFQUNqQyxlQUFlO0VBQ2YsYUFBYTtFQUNiLHVCQUF1QjtFQUN2QixtQkFBbUI7QUNBckI7O0FER0E7RUFDRSxxQkFBcUI7RUFDckIsY0FBYztBQ0FoQjs7QURHQTtFQUNFLGNBQWM7QUNBaEI7O0FER0E7RUFDRSxnRkFBZ0Y7RUFDaEYsZUFBZTtFQUNmLG9DQUFvQztFQUNwQyw0QkFBNEI7RUFDNUIsMkJBQTJCO0VBQzNCLHNCQUFzQjtFQUN0Qiw0QkFBNEI7RUFDNUIsYUFBYTtFQUNiLG9CQUFvQjtBQ0F0Qjs7QURHQTtFQUNFLFFBQVE7RUFDUixxQ0FBcUM7QUNBdkM7O0FER0E7RUFDRSxxQkFBcUI7RUFDckIsYUFBYTtFQUNiLGFBQWE7RUFDYixTQUFTO0VBQ1QseUJBQXlCO0VBQ3pCLFdBQVc7QUNBYjs7QURHQTtFQUNFLGFBQWE7RUFDYixxQkFBcUI7RUFDckIsY0FBYztBQ0FoQjs7QURHQTtFQUNFLHFCQUFxQjtFQUNyQixjQUFjO0FDQWhCOztBREdBLFNBQUE7QUFDQTtFQUNFLFlBQVk7RUFDWixpQkFBaUI7RUFDakIsYUFBYTtFQUNiLHVCQUF1QjtFQUN2QixtQkFBbUI7RUFDbkIsaUJBQWlCO0FDQW5COztBREdBO0VBQ0UsWUFBWTtFQUNaLGNBQWM7QUNBaEI7O0FER0E7RUFDRSxZQUFZO0VBQ1osZUFBZTtFQUNmLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLG1CQUFtQjtFQUNuQixvQ0FBb0M7RUFDcEMsa0JBQWtCO0VBQ2xCLGlDQUFpQztBQ0FuQzs7QURHQTtFQUNFLFlBQVk7RUFDWixnQkFBZ0I7RUFDaEIsZUFBZTtFQUNmLG9DQUFvQztFQUNwQyxrQkFBa0I7RUFDbEIseUJBQXlCO0VBQ3pCLGtCQUFrQjtBQ0FwQjs7QURHQTtFQUNFLGtCQUFrQjtBQ0FwQjs7QURHQSxXQUFBO0FBQ0E7RUFDRSxXQUFXO0VBQ1gsZUFBZTtFQUNmLGlCQUFpQjtBQ0FuQjs7QURHQTtFQUNFLHlCQUF5QjtFQUN6QixtQkFBbUI7QUNBckI7O0FER0E7RUFDRSxpQ0FBaUM7RUFDakMsZUFBZTtFQUNmLGdCQUFnQjtBQ0FsQjs7QURHQTtFQUNFLGFBQWE7RUFDYiw2QkFBNkI7RUFDN0IsYUFBYTtBQ0FmOztBREdBO0VBQ0Usa0JBQWtCO0FDQXBCOztBREdBO0VBQ0UsbUJBQW1CO0VBQ25CLGlCQUFpQjtFQUNqQixhQUFhO0FDQWY7O0FER0E7RUFDRSxlQUFlO0VBQ2Ysa0JBQWtCO0FDQXBCOztBREdBO0VBQ0Usa0JBQWtCO0VBQ2xCLGNBQWM7QUNBaEI7O0FER0E7RUFDRSxrQkFBa0I7QUNBcEI7O0FER0E7RUFDRSxrQkFBa0I7QUNBcEI7O0FER0E7RUFDRSxlQUFlO0VBQ2YsaUJBQWlCO0VBQ2pCLFdBQVc7RUFDWCxZQUFZO0VBQ1osaUJBQWlCO0VBQ2pCLGNBQWM7RUFDZCxrQkFBa0I7RUFDbEIsWUFBWTtFQUNaLGtCQUFrQjtFQUNsQixxQkFBcUI7QUNBdkI7O0FER0E7RUFDRSxxQkFBcUI7QUNBdkI7O0FER0E7RUFDRTtJQUNFLHNCQUFzQjtFQ0F4QjtFREVBO0lBQ0UsZUFBZTtJQUNmLFlBQVk7SUFDWixpQkFBaUI7RUNBbkI7RURFQTtJQUNFLFlBQVk7RUNBZDtFREVBLFNBQUE7RUFDQTtJQUNFLGdCQUFnQjtFQ0FsQjtFREVBO0lBQ0UsZUFBZTtFQ0FqQjtFREVBO0lBQ0UsZUFBZTtFQ0FqQjtFREVBO0lBQ0Usc0JBQXNCO0lBQ3RCLGlCQUFpQjtFQ0FuQjtFREVBO0lBQ0Usc0JBQXNCO0VDQXhCO0FBQ0YiLCJmaWxlIjoic3R5bGUuY3NzIn0= */